// modules
@import '../modules/typography';
@import '../modules/colors';
// partials
@import 'mainnav';
@import 'todayshelphours';
@import 'contactform';
@import 'members';
@import 'slider';
html {
		font-size: $base-font-size;
}

body {
		font-family: $font-mont;
		font-size: 100%;
}


hr {
	width: 300px;
	margin: 20px 0;
}

.container {
		width: 100%;
		margin: 0;
		padding: 0;
}

.cscrew-header-logo {
		width: 10%;
}

form#form-new-helphour {
		padding: 20px;
		p.timepicker {
				display: inline-block;
		}
		ul.weekselect {
				padding-left: 0px;
				li {
						display: inline-block;
						input[type="checkbox"] {
								display: none;
						}
				}
		}
}

@mixin color-block($color, $text) {
	padding: 40px 0;
	background: $color;
	color: $text;
}

.mint {
	@include color-block($mint, $white);
}

.gold {
	@include color-block($gold, $dark-gray);
}

.cantaloupe {
	@include color-block($cantaloupe, $white);

}

.row {
	max-width: 45em;
	margin: 0 auto;
	display: block;
}