.search-members {
    input {
        display: inline;
        width: 100%;
    }
}

#member-profiles {
    ul {
        margin-top: 2em;
    }
    li {
        background-color: #f3f3f3;
        margin: 3em 3%;
        border-radius: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.member-title {
	border-radius: 24px 24px 0 0;
	background: #4870B1;
	color: #ffffff;

    .col-xs-4 {
        padding-left: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        border-radius: 20px 0 0 0;
        width: 200px;
        height: 200px;
        background: #fff;

    }
    img {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 100%;
        width: auto;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: auto;
        height: 100%;
    }

    h2 {
    	margin-top: 1.3em;
    	font-size: 3em;
    }
}

.member-field {
	padding-top: 1em;

    .col-xs-4 {
        font-weight: bold;
        width: 200px;
        text-align: center;
        font-size: 1.6em;
    }

    .col-xs-8 {
    	padding-top: .5em;
    }
}

.last {
    padding-bottom: 2em;
}