
.picture-container {
    overflow: hidden;
    padding: 0;
    position: relative;
}

.help-picture {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#todays-help-hours {
    background-color: #f8f8f8;
    border-radius: 20px;
    h2 {
        padding: 20px 0 20px 20px;
        margin: 0;
    }
    li:last-child {
        .todays-help-hours-inactive,
        .todays-help-hours-active {
            border-radius: 0 0 20px 20px;
        }
        .col-xs-4 {
            border-radius: 0 0 0 20px;
        }
    }
    p { margin: 0 0 8px; }
}

.todays-help-hours-inactive {
    background-color: #f3f3f3;
    margin: 0;
    .col-xs-4 {
        @extend .picture-container;
        width: 140px;
        height: 140px;
        background: #fff;
        img {
            @extend .help-picture;
            opacity: .7;
        }
    }
    h3 {
        margin-top: 10px;
	margin-bottom: 5px;
        font-size: 20px;
        color: darken(#777, 10);
    }
    h4 {
        font-size: 16px;
        color: #cdcdcd;
        margin-left: 2px;
    }
}

.todays-help-hours-active {
    margin: 0;
    .col-xs-4 {
        @extend .picture-container;
        width: 170px;
        height: 170px;
        background: #fff;
        img {
            @extend .help-picture;
        }
    }
    h3 {
        margin-top: 20px;
	margin-bottom: 10px;
        font-size: 30px;
    }
    h4 {
        font-size: 18px;
        margin-left: 6px;
    }
}

.custom-alert {
	      margin-bottom: 0;
	      text-align: center;
	      border-width: 1px 0;
}