@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.navbar-default {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  background-color: #fff;
  border-radius: 0;
  margin-bottom: 0; }

.navbar {
  border: 0; }

.navbar-nav > li > a {
  padding-bottom: 20px; }

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #555;
  background-color: #FFF;
  border-top: 6px solid;
  padding-top: 9px; }

.welcome-banner {
  text-align: center;
  font-size: 6em;
  padding: .3em;
  margin: .3em auto;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* 
  Based from this article from Divya Manian - 
  http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
*/
/* Clip text element */
.clip-text {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  text-align: center;
  color: #fff;
  -webkit-text-fill-color: transparent; }

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: ''; }

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
  background: -webkit-linear-gradient(transparent, transparent), url(http://i.imgur.com/OzExPUf.png) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text; }

.clip-text_two {
  background: -webkit-linear-gradient(transparent, transparent), url(http://i.imgur.com/NH1nLsV.png) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text; }

.clip-text_three {
  background: -webkit-linear-gradient(transparent, transparent), url(http://i.imgur.com/6F6eAzr.png) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text; }

.clip-text_four {
  background: -webkit-linear-gradient(transparent, transparent), url(http://i.imgur.com/PIJWrEi.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text; }

.clip-text_five {
  background: -webkit-linear-gradient(transparent, transparent), url(http://i.imgur.com/hH0upNX.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text; }

.clip-text_six {
  background: -webkit-linear-gradient(transparent, transparent), url(http://i.imgur.com/jGIGWOA.jpg) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text; }

.picture-container, .todays-help-hours-inactive .col-xs-4, .todays-help-hours-active .col-xs-4 {
  overflow: hidden;
  padding: 0;
  position: relative; }

.help-picture, .todays-help-hours-inactive .col-xs-4 img, .todays-help-hours-active .col-xs-4 img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#todays-help-hours {
  background-color: #f8f8f8;
  border-radius: 20px; }
  #todays-help-hours h2 {
    padding: 20px 0 20px 20px;
    margin: 0; }
  #todays-help-hours li:last-child .todays-help-hours-inactive,
  #todays-help-hours li:last-child .todays-help-hours-active {
    border-radius: 0 0 20px 20px; }
  #todays-help-hours li:last-child .col-xs-4 {
    border-radius: 0 0 0 20px; }

.todays-help-hours-inactive {
  background-color: #f3f3f3;
  margin: 0; }
  .todays-help-hours-inactive .col-xs-4 {
    width: 140px;
    height: 140px;
    background: #fff; }
    .todays-help-hours-inactive .col-xs-4 img {
      opacity: .7; }
  .todays-help-hours-inactive h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #5e5e5e; }
  .todays-help-hours-inactive h4 {
    font-size: 16px;
    color: #cdcdcd;
    margin-left: 2px; }

.todays-help-hours-active {
  margin: 0; }
  .todays-help-hours-active .col-xs-4 {
    width: 170px;
    height: 170px;
    background: #fff; }
  .todays-help-hours-active h3 {
    margin-top: 20px;
    font-size: 30px; }
  .todays-help-hours-active h4 {
    font-size: 18px;
    margin-left: 6px; }

.custom-alert {
  margin-bottom: 0;
  text-align: center;
  border-width: 1px 0; }

.contactForm {
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #a8a8a8;
  font-family: sans-serif;
  width: 40em;
  max-width: 50%;
  margin: 0 auto;
  padding: 2em; }
  .contactForm label {
    display: block;
    max-width: 30em;
    margin: auto; }
    .contactForm label:after {
      content: "\A";
      white-space: pre; }
  .contactForm input[type=text], .contactForm textarea {
    display: block;
    line-height: 1.5em;
    border-radius: 2px;
    outline: none;
    margin: .35em auto 1em;
    border: 1px solid #a8a8a8;
    padding: .25em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 1em;
    min-width: 30em; }
    .contactForm input[type=text]:focus, .contactForm input[type=text]:hover, .contactForm textarea:hover, .contactForm textarea:focus {
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border: 1px solid #5d93db;
      box-shadow: 0 0 0.5em 0.05em #5d93db; }
  .contactForm textarea {
    font-family: sans-serif;
    resize: none;
    min-height: 10em; }
  .contactForm .inputFld {
    display: block;
    max-width: 30em;
    margin: 0 auto; }
    .contactForm .inputFld input[type=submit] {
      background: url("../../img/sendMail.png") no-repeat 0;
      outline: none;
      border: none;
      height: 2em;
      width: 2em;
      border-radius: 5em;
      cursor: pointer; }

.search-members input {
  display: inline;
  width: 100%; }

#member-profiles ul {
  margin-top: 2em; }
#member-profiles li {
  background-color: #f3f3f3;
  margin: 3em 3%;
  border-radius: 24px; }
  #member-profiles li:last-child {
    margin-bottom: 0; }

.member-title {
  border-radius: 24px 24px 0 0;
  background: #4870B1;
  color: #ffffff; }
  .member-title .col-xs-4 {
    padding-left: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    border-radius: 20px 0 0 0;
    width: 200px;
    height: 200px;
    background: #fff; }
  .member-title img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%; }
  .member-title h2 {
    margin-top: 1.3em;
    font-size: 3em; }

.member-field {
  padding-top: 1em; }
  .member-field .col-xs-4 {
    font-weight: bold;
    width: 200px;
    text-align: center;
    font-size: 1.6em; }
  .member-field .col-xs-8 {
    padding-top: .5em; }

.last {
  padding-bottom: 2em; }

@media (max-width: 650px) {
  /* WELCOME */
  .welcome-banner {
    font-size: 4em; }

  .todays-help-hours-inactive .col-xs-4,
  .todays-help-hours-inactive .col-xs-8,
  .todays-help-hours-active .col-xs-4,
  .todays-help-hours-active .col-xs-8 {
    width: 100%; }
    .todays-help-hours-inactive .col-xs-4 img,
    .todays-help-hours-inactive .col-xs-8 img,
    .todays-help-hours-active .col-xs-4 img,
    .todays-help-hours-active .col-xs-8 img {
      width: 100%;
      height: auto; }

  /* TODAY'S HELP HOURS */
  #todays-help-hours li:last-child .todays-help-hours-inactive,
  #todays-help-hours li:last-child .todays-help-hours-active {
    border-radius: 0 0 20px 20px; }
  #todays-help-hours li:last-child .col-xs-4 {
    border-radius: 0; }

  /* MEMBERS */
  .member-title .col-xs-4 {
    width: 100%;
    border-radius: 24px 24px 0 0; }
  .member-title img {
    width: 100%;
    height: auto; }

  .member-field .col-xs-4 {
    width: 33.33333%; } }
html {
  font-size: 110%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%; }

hr {
  width: 300px;
  margin: 20px 0; }

.container {
  width: 100%;
  margin: 0;
  padding: 0; }

.cscrew-header-logo {
  width: 10%; }

form#form-new-helphour {
  padding: 20px; }
  form#form-new-helphour p.timepicker {
    display: inline-block; }
  form#form-new-helphour ul.weekselect {
    padding-left: 0px; }
    form#form-new-helphour ul.weekselect li {
      display: inline-block; }
      form#form-new-helphour ul.weekselect li input[type="checkbox"] {
        display: none; }

.mint {
  background: #74D9B0; }

.gold {
  background: #FFD54D; }

.cantaloupe {
  background: #A5EC92; }

.pad-block {
  padding: 40px 0; }

.squish .row {
  max-width: 45em;
  margin: 0 auto;
  display: block; }

.white-text {
  color: #fff; }

/** PROFILE **/
.profile {
  padding: 40px 3%; }

/* GET HELP */
.get-help {
  padding: 24px 3% 40px; }
  .get-help .panel {
    background-color: transparent; }

/** IMAGES **/
.portrait {
  width: 100%;
  height: auto; }

/*# sourceMappingURL=cscrew.css.map */
