@import url(https://fonts.googleapis.com/css?family=Lora|Montserrat:400,700|Archivo+Black|Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

.navbar-default {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  background-color: #fff;
  border-radius: 0;
  margin-bottom: 0; }

.welcome-banner {
  text-align: center; }
  .welcome-banner h1 {
    font-size: 4em;
    border: .1em solid white;
    padding: 1em;
    margin: 1em;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
/* 
  Based from this article from Divya Manian - 
  http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
*/
* {
  margin: 0;
  padding: 0; }

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  text-align: center; }

.title {
  font-size: 2em;
  position: relative;
  margin: 0 auto 1em;
  padding: 1em 1em .25em 1em;
  text-align: center;
  text-transform: uppercase; }

.title:after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 240px;
  height: 4px;
  margin-left: -120px;
  content: '';
  background-color: #fff; }

/* Clip text element */
.clip-text {
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: ''; }

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit; }

/* Text Background (black zone) */
.clip-text:after {
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #000; }

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
  background-position: -.25em 0; }

.clip-text--no-textzone:after {
  content: none; }

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

/* Background image from http://thepatternlibrary.com/ and http://lorempixel.com */
.clip-text_one {
  background-image: url(http://i.imgur.com/pJewmf8.jpg); }

.clip-text_two {
  background-image: url(http://i.imgur.com/KCa8KHY.png); }

.clip-text_tree {
  background-image: url(http://i.imgur.com/IuijDCu.png); }

.clip-text_four {
  background-image: url(http://i.imgur.com/tkKlzYz.jpg); }

.clip-text_five {
  background-image: url(http://i.imgur.com/4NiBrXs.gif); }

.clip-text_six {
  background-image: url(http://i.imgur.com/d2awmPs.jpg); }

.clip-text_seven {
  background-image: url(http://i.imgur.com/OzExPUf.png); }

.clip-text_eight {
  background-image: url(http://i.imgur.com/BFlh0FX.jpg); }

.clip-text_nine {
  background-image: url(http://i.imgur.com/2Nrxex6.jpg); }

.clip-text_ten {
  background-image: url(http://i.imgur.com/hCrSRTN.png); }

.clip-text_eleven {
  background-image: url(http://lorempixel.com/480/200/fashion/10/cc);
  background-size: cover; }

.clip-text_twelve {
  background-image: url(http://lorempixel.com/480/200/people/7/cc); }

.clip-text_thirteen {
  background-image: url(http://lorempixel.com/480/200/food/5/cc); }

.clip-text_fourteen {
  background-image: url(http://lorempixel.com/480/200/city/9/cc); }

.clip-text_fifteen {
  background-image: url(http://i.imgur.com/kqvmLut.jpg); }

.picture-container, .todays-help-hours-inactive .col-xs-4, .todays-help-hours-active .col-xs-4 {
  overflow: hidden;
  padding: 0;
  position: relatve; }

.help-picture, .todays-help-hours-inactive .col-xs-4 img, .todays-help-hours-active .col-xs-4 img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#todays-help-hours {
  background-color: #f8f8f8;
  border-radius: 20px; }
  #todays-help-hours h2 {
    padding: 20px 0 20px 20px;
    margin: 0; }
  #todays-help-hours li:last-child .todays-help-hours-inactive,
  #todays-help-hours li:last-child .todays-help-hours-active {
    border-radius: 0 0 20px 20px; }
  #todays-help-hours li:last-child .col-xs-4 {
    border-radius: 0 0 0 20px; }

.todays-help-hours-inactive {
  background-color: #f3f3f3;
  margin: 0; }
  .todays-help-hours-inactive .col-xs-4 {
    width: 105px;
    height: 105px; }
    .todays-help-hours-inactive .col-xs-4 img {
      opacity: .7; }
  .todays-help-hours-inactive h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #b4b4b4; }
  .todays-help-hours-inactive h4 {
    font-size: 16px;
    color: #cdcdcd;
    margin-left: 2px; }

.todays-help-hours-active {
  background-color: #D6EDF7;
  margin: 0; }
  .todays-help-hours-active .col-xs-4 {
    width: 150px;
    height: 150px; }
  .todays-help-hours-active h3 {
    margin-top: 20px;
    font-size: 30px; }
  .todays-help-hours-active h4 {
    font-size: 18px;
    margin-left: 6px; }

.contactForm {
  border: 1px solid #a8a8a8;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #a8a8a8;
  font-family: sans-serif;
  width: 40em;
  max-width: 50%;
  margin: 0 auto;
  padding: 2em; }
  .contactForm label {
    display: block;
    max-width: 30em;
    margin: auto; }
    .contactForm label:after {
      content: "\A";
      white-space: pre; }
  .contactForm input[type=text], .contactForm textarea {
    display: block;
    line-height: 1.5em;
    border-radius: 2px;
    outline: none;
    margin: .35em auto 1em;
    border: 1px solid #a8a8a8;
    padding: .25em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    font-size: 1em;
    min-width: 30em; }
    .contactForm input[type=text]:focus, .contactForm input[type=text]:hover, .contactForm textarea:hover, .contactForm textarea:focus {
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border: 1px solid #5d93db;
      box-shadow: 0 0 0.5em 0.05em #5d93db; }
  .contactForm textarea {
    font-family: sans-serif;
    resize: none;
    min-height: 10em; }
  .contactForm .inputFld {
    display: block;
    max-width: 30em;
    margin: 0 auto; }
    .contactForm .inputFld input[type=submit] {
      background: url("../../img/sendMail.png") no-repeat 0;
      outline: none;
      border: none;
      height: 2em;
      width: 2em;
      border-radius: 5em;
      cursor: pointer; }

.search-members h2 {
  font-size: 2em;
  padding-right: 2%;
  display: inline;
  vertical-align: middle; }
.search-members input {
  display: inline;
  width: 50%; }

#member-profiles ul {
  margin-top: 2em; }
#member-profiles li {
  background-color: #f3f3f3;
  margin-bottom: 4em;
  border-radius: 2em; }
#member-profiles .col-xs-4 {
  width: 14em;
  height: 13em;
  overflow: hidden;
  padding: 0;
  border-radius: 2em 0 0 2em; }
  #member-profiles .col-xs-4 img {
    width: 100%; }

.banner {
  position: relative;
  overflow: auto; }
  .banner ul li {
    float: left; }

/*

$slide-width: 1000px;
$slide-height: 200px;

#slider {
	margin: auto;
	overflow: hidden;
	position: relative;
	width: $slide-width;
	height: $slide-height;

	h1 {
	   color: white;
	   font-size: 4em;
	   text-shadow: 0 3px 0 rgba(0, 0, 0, 0.2);
	}

	ul {
	   list-style: none;
	   position: absolute;
	   left: 0px;
	   top: 0px;
	   width: 9000px;
	   transition: left .3s linear;
	   -moz-transition: left .3s linear;
	   -o-transition: left .3s linear;
	   -webkit-transition: left .3s linear;
	   margin-left: -25px;
	   -webkit-animation: slide-animation 15s infinite;

	   &:hover {
	   	   -moz-animation-play-state: paused;
		   -webkit-animation-play-state: paused;
	   }
	}

	li {
	   float: left;
	   position: relative;
	   width: $slide-width;
	   display: inline-block;
	}


}

.slide-container {
		  margin: 0 auto;
		  width: $slide-width;
		  text-align: center;
		  min-height: $slide-height - 80;
}

@-webkit-keyframes slide-animation {
		   0% {opacity:0;}
		   2% {opacity:1;}
		   20% {left:0px; opacity:1;}
		   22.5% {opacity:0.6;}
		   25% {left:-$slide-width; opacity:1;}
		   45% {left:-$slide-width; opacity:1;}
		   47.5% {opacity:0.6;}
		   50% {left:-$slide-width * 2; opacity:1;}
		   70% {left:-$slide-width * 2; opacity:1;}
		   72.5% {opacity:0.6;}
		   75% {left:-$slide-width * 3; opacity:1;}
		   95% {opacity:1;}
		   98% {left:-$slide-width * 3; opacity:0;} 
		   100% {left:0px; opacity:0;}
}

*/
html {
  font-size: 110%; }

body {
  font-family: "Montserrat", sans-serif;
  font-size: 100%; }

hr {
  width: 300px;
  margin: 20px 0; }

.container {
  width: 100%;
  margin: 0;
  padding: 0; }

.cscrew-header-logo {
  width: 10%; }

form#form-new-helphour {
  padding: 20px; }
  form#form-new-helphour p.timepicker {
    display: inline-block; }
  form#form-new-helphour ul.weekselect {
    padding-left: 0px; }
    form#form-new-helphour ul.weekselect li {
      display: inline-block; }
      form#form-new-helphour ul.weekselect li input[type="checkbox"] {
        display: none; }

.mint {
  padding: 40px 0;
  background: #74D9B0;
  color: #ffffff; }

.gold {
  padding: 40px 0;
  background: #FFD54D;
  color: #333333; }

.cantaloupe {
  padding: 40px 0;
  background: #A5EC92;
  color: #ffffff; }

.row {
  max-width: 45em;
  margin: 0 auto;
  display: block; }

/*# sourceMappingURL=cscrew.css.map */
