@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

$font-mont: 'Montserrat', sans-serif;

$base-font-size: 110%;


* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}