@import url(https://fonts.googleapis.com/css?family=Lora|Montserrat:400,700|Archivo+Black|Lato:300,400);

$font-arch: 'Archivo Black', sans-serif;
$font-mont: 'Montserrat', sans-serif;
$font-lora: 'Lora', serif;
$font-lato: 'Lato', sans-serif;

$base-font-size: 110%;


* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}