<div class="row">
    <div class="col-md-6">
        <h1>Welcome to CS Crew</h1>
        <p>We are a student-led community of individuals studying or  interested in Computer Science at the University of Vermont. Founded in 2010 by Anthony Sweet, Mark Cooper, and Beau Cameron, we provide a space for students to further their knowledge and skills in CS related concepts and applications. We are located in Votey 332 and welcome anyone who wants to come in to work on projects, get help during help hours, study, and network.
        </div>
        <div class="col-md-6">
            <div id="todays-help-hours" ng-init="loadHelpHoursToday()">
                <h2>Today's Help Hours</h2>
                <ul class="list-unstyled">
                    <li ng-repeat="helphour in helpHoursToday | orderBy: 'StartTime'">
                        <div ng-class="{true:'todays-help-hours-active row', false:'todays-help-hours-inactive row'}[helphour.dateRange.contains(now())]"
                            class="todays-help-hours-inactive row">
                            <div class="col-md-4">
                                <img ng-if="helphour.User.Picture" ng-src="{{ helphour.User.Picture }}">
                                <img ng-if="!helphour.User.Image" ng-src="img/qmark.png">
                            </div>
                            <div class="col-md-8">
                                <h3>
                                    {{ helphour.User.Name }}
                                    <small>{{ today() + " " + helphour.StartTime | amDateFormat: 'h:mm a' }} - {{ today() + " " + helphour.EndTime | amDateFormat: 'h:mm a' }}</small>
                                    <small ng-if="now().isBefore(helphour.StartTimeMoment)">(Starts <span am-time-ago="helphour.StartTimeMoment"></span>)</small>
                                    <small ng-if="helphour.dateRange.contains(now())">(Ends <span am-time-ago="helphour.EndTimeMoment"></span>)</small>
                                </h3>
                                <p><span ng-repeat="skill in helphour.User.Skills">{{ skill.Name}}<span ng-if="!$last">, </span></span></p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
