<p>This is the homepage.</p>
<p>Help hours now:</p>
<ul ng-init="loadHelpHoursNow()">
    <li ng-repeat="helphour in helpHoursNow">
        <p>{{ helphour.User.Name }}</p>
        <p>{{ today() + " " + helphour.StartTime | amDateFormat: 'h:mm:ss a' }} - {{ today() + " " + helphour.EndTime | amDateFormat: 'h:mm:ss a' }}</p>
        <p>Ends <span am-time-ago="today() + ' ' + helphour.EndTime"></span></p>
        <progressbar max="helphour.duration.asMilliseconds()" value="helphour.timeRemaining"></progressbar>
    </li>
</ul>
